@model AshBoard.Application.DTOs.Sensor.CreateSensorDto
@{
    ViewData["Title"] = "Criar Sensor";
}

<h2>Novo Sensor</h2>

<form asp-action="CreateSensor" method="post">
    <div class="form-group">
        <label asp-for="NomeLocal"></label>
        <input asp-for="NomeLocal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Salvar</button>
    <a href="@Url.Action("Index", "Dashboard")" class="btn btn-secondary mt-2">Cancelar</a>
</form>
