@model AshBoard.Application.DTOs.Sensor.SensorDto
@{
    ViewData["Title"] = "Editar Sensor";
}

<h2>Editar Sensor</h2>

<form asp-action="EditSensor" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="NomeLocal"></label>
        <input asp-for="NomeLocal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Atualizar</button>
    <a href="@Url.Action("Index", "Dashboard")" class="btn btn-secondary mt-2">Cancelar</a>
</form>
